# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Turbo
.turbo

# Testing
coverage

# Env files
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Storybook
storybook-static
